{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Titulo de about</h1>
    </div>
    <div class="col-4">
        <img src="./assests/img/1253531966_0.jpg" class="img-thumbnail" >
    </div>
</div>
{{> footer}}
